/* === GLOBAL === */
body {
    font-family: Arial, sans-serif;
    background-color: #d6cccc;
    margin: 0;
    padding: 40px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

/* === AUTH (login/register) === */
body.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
}

form {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #151c5c;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #368fee;
    color: white;
    font-size: 16px;
}

button:hover {
    background-color: #50a72e;
}

/* === HISTORY === */
.container {
    max-width: 800px;
    margin: auto;
}

.conversion-card {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.types {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff7d56;
}

.comment {
    margin-bottom: 15px;
    line-height: 1.5;
}

.date {
    color: #797979;
    font-size: 14px;
}

.empty-message {
    text-align: center;
    color: #8b8b8b;
    font-size: 18px;
}